<ol class="breadcrumb">
    <li><%= link_to 'All items', items_path %></li>
</ol>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<div class="page-header">
    <h1>
      <%= @item.title %>
    </h1>
</div>

<p class="desc">
  <%= @item.description %>
</p>

<p>
  <%= link_to @item.link, @item.link %><br>
  <strong>Category:</strong> <%= @item.category %>
</p>

<p>
    <%= link_to 'Edit this', edit_item_path(@item), {:class => "btn btn-default"} %>
</p>
